[submodule "themes/lowkey"]
	path = themes/lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme
[submodule "glslCanvas"]
	path = glslCanvas
	url = https://github.com/patriciogonzalezvivo/glslCanvas.git
